Repository stethoscope-js/integrations, changes with the labels that .github/labeler.yml gives for each.
All labels: config, tooling, assets, tests, package, source, google-fit, oura-ring, rescuetime, spotify, wakatime, last-fm, pocket-casts, clockify

.github/labeler.yml:

config:
  - ./*
tooling:
  - tooling/**/*.*
assets:
  - static/**/*.*
tests:
  - any: ["src/**/*.spec.js", "src/**/*.spec.ts", "cypress/**/*"]
package:
  - any: ["package.json", "package-lock.json"]
source:
  - src/**/*

google-fit:
  - src/google-fit/**/*.*
oura-ring:
  - src/oura-ring/**/*.*
rescuetime:
  - src/rescuetime/**/*.*
spotify:
  - src/spotify/**/*.*
wakatime:
  - src/wakatime/**/*.*
last-fm:
  - src/last-fm/**/*.*
pocket-casts:
  - src/pocket-casts/**/*.*
clockify:
  - src/clockify/**/*.*

:bookmark: Release v2.2.11 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Labels: config

Notes added by 'git notes add'
  866df07c7b4c54cc4e080a697aa28b022fc43edd
Labels: config

:bookmark: Release v2.2.12 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Labels: config

Notes added by 'git notes add'
  f528dc7a1eecac5a921886f80907da14f296c11a
Labels: config

:bookmark: Release v2.2.13 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Labels: config

Notes added by 'git notes add'
  040c763b0791b9c5fbd8e1a5db2839097630e5ed
Labels: config

:bookmark: Release v2.2.14 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Labels: config

Notes added by 'git notes add'
  864db8c319c5d391f757018e0bd1ba47fb3d7bad
Labels: config

:bookmark: Release v2.2.15 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Labels: config

Notes added by 'git notes add'
  2cfaa3cf6a6f55f6a3406f58b35f1e2cc42627bf
Labels: config

:bookmark: Release v2.2.16 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Labels: config

Notes added by 'git notes add'
  762c19623578ddd641680df84a3fbfde056dbe29
Labels: config

:bookmark: Release v2.2.17 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Labels: config

Notes added by 'git notes add'
  bb10d20d74fe395e77ed81a24e8e4682737a4b75
Labels: config

:bookmark: Release v2.2.18 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Labels: config

Notes added by 'git notes add'
  031e222c540f413fc1a27d074d4b4ad7e0b2e156
Labels: config

JSFIX patches
  package-lock.json
  package.json
Labels: config

:fire: Delete legacy CIs
  .github/workflows/automerge.yml
  .github/workflows/codeql.yml
  .github/workflows/dependabot.yml
  .github/workflows/feature-pr.yml
  .github/workflows/labeler.yml
  .github/workflows/pull-request.yml
  .github/workflows/release-scheduler.yml
  package-lock.json
Labels: config

⬆️ Update all dependencies
  package-lock.json
  package.json
Labels: config

:sparkles: Add daily full summary
  src/cli.ts
Labels: source

:bookmark: Release v2.3.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Labels: config

Notes added by 'git notes add'
  8003d9cc88f18f104b01bdc36228a26ada9c8d04
Labels: config

⬆️ Pin typescript to 4.9.3
  .github/workflows/node.yml
  .github/workflows/test.yml
  package-lock.json
  package.json
Labels: config

:bug: Pin typescript to v4.8.4, microsoft/TypeScript#51420
  package-lock.json
  package.json
Labels: config

:bookmark: Release v2.3.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Labels: config

Notes added by 'git notes add'
  8e7619a072f2b430208ad344e3d1d1007b62981a
Labels: config

:bug: Revert dependency updates
  package-lock.json
  package.json
Labels: config

:bookmark: Release v2.3.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Labels: config

Notes added by 'git notes add'
  240d3c6d69127ffdeff5ad87870f9413eed08bec
Labels: config

⬆️ Update dependencies
  package-lock.json
  package.json
Labels: config

:bug: Fix entries, summary key name
  src/cli.ts
  src/common.ts
Labels: source

:bookmark: Release v2.3.3 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Labels: config

Notes added by 'git notes add'
  f0afde4d2cd3feb0373c67b5499669d5e8e92a52
Labels: config

:sparkles: Export helper methods
  src/cli.ts
  src/index.ts
Labels: source

:bookmark: Release v2.4.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Labels: config

Notes added by 'git notes add'
  743203f7e6af8c2eae9acfd6b79d579c8142e2a0
Labels: config

:bug: Add delay to legacy method in google-fit.ts
  src/api/google-fit.ts
Labels: source

:bookmark: Release v2.4.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Labels: config

Notes added by 'git notes add'
  137764290e00b886a59bc9f36cbf9f508c27cc05
Labels: config

:construction_worker: Skip npm auth for no-op releases
  .github/workflows/node.yml
Labels: none
