Repository stethoscope-js/integrations, changes with the labels that .github/labeler.yml gives for each.
All labels: config, tooling, assets, tests, package, source, google-fit, oura-ring, rescuetime, spotify, wakatime, last-fm, pocket-casts, clockify

:construction_worker: Skip npm auth for no-op releases
  .github/workflows/node.yml
Labels: none

:arrow_up: Update actions/cache to v6
  .github/workflows/node.yml
Labels: none

:arrow_up: Update actions/cache to v6 (#459)
  .github/workflows/node.yml
Labels: none

:bug: Migrate Oura integration to V2
  jest.config.js
  src/api/oura-ring.spec.ts
  src/api/oura-ring.ts
  src/fixtures/oura-v2/daily-activity.json
  src/fixtures/oura-v2/daily-readiness.json
  src/fixtures/oura-v2/daily-sleep.json
  src/fixtures/oura-v2/personal-info.json
  src/fixtures/oura-v2/sleep.json
Labels: config, source

:bug: Migrate Oura integration to V2 (#465)
  jest.config.js
  src/api/oura-ring.spec.ts
  src/api/oura-ring.ts
  src/fixtures/oura-v2/daily-activity.json
  src/fixtures/oura-v2/daily-readiness.json
  src/fixtures/oura-v2/daily-sleep.json
  src/fixtures/oura-v2/personal-info.json
  src/fixtures/oura-v2/sleep.json
Labels: config, source

:bug: Fix Clockify daily time-entry range
  src/api/clockify.spec.ts
  src/api/clockify.ts
Labels: source

:bug: Fix Clockify daily time-entry range (#466)
  src/api/clockify.spec.ts
  src/api/clockify.ts
Labels: source

:bug: Use loopback IP for Spotify callback
  src/api/spotify.spec.ts
  src/api/spotify.ts
Labels: source

:bug: Use loopback IP for Spotify callback (#467)
  src/api/spotify.spec.ts
  src/api/spotify.ts
Labels: source

:white_check_mark: Add Last.fm fixture contract
  src/api/last-fm.spec.ts
  src/fixtures/last-fm/recent-tracks.json
Labels: source

:white_check_mark: Add Last.fm fixture contract (#468)
  src/api/last-fm.spec.ts
  src/fixtures/last-fm/recent-tracks.json
Labels: source

:white_check_mark: Add RescueTime fixture contract
  src/api/rescuetime.spec.ts
  src/fixtures/rescuetime/top-categories.json
Labels: source

:white_check_mark: Add RescueTime fixture contract (#469)
  src/api/rescuetime.spec.ts
  src/fixtures/rescuetime/top-categories.json
Labels: source

:white_check_mark: Add WakaTime fixture contract
  src/api/wakatime.spec.ts
  src/fixtures/wakatime/daily-summary.json
Labels: source

:white_check_mark: Add WakaTime fixture contract (#470)
  src/api/wakatime.spec.ts
  src/fixtures/wakatime/daily-summary.json
Labels: source

:construction_worker: Modernize integrations runtime foundation
  .github/workflows/node.yml
  .github/workflows/test.yml
  package-lock.json
  package.json
  src/api/wakatime.spec.ts
  src/api/wakatime.ts
  src/types/wakatime.d.ts
Labels: config, source

:construction_worker: Modernize integrations runtime foundation (#471)
  .github/workflows/node.yml
  .github/workflows/test.yml
  package-lock.json
  package.json
  src/api/wakatime.spec.ts
  src/api/wakatime.ts
  src/types/wakatime.d.ts
Labels: config, source

:construction_worker: Prepare trusted npm publishing
  .github/workflows/node.yml
  .github/workflows/test.yml
  package-lock.json
  package.json
  release.config.js
  src/release-config.spec.ts
Labels: config, source

:construction_worker: Harden trusted publishing release job
  .github/workflows/node.yml
Labels: none

:construction_worker: Prepare trusted npm publishing (#472)
  .github/workflows/node.yml
  .github/workflows/test.yml
  package-lock.json
  package.json
  release.config.js
  src/release-config.spec.ts
Labels: config, source

:bookmark: Release v2.4.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Labels: config

Notes added by 'git notes add'
  64251598ff97401f6334f0ca35f77fa018456ae4
Labels: config

:construction: Add unwired Oura credential broker seam
  src/oura-credential-broker.spec.ts
  src/oura-credential-broker.ts
Labels: source

:construction: Add unwired Oura credential broker seam (#482)
  src/oura-credential-broker.spec.ts
  src/oura-credential-broker.ts
Labels: source

:construction: Add unwired Oura refresh transport contract
  src/oura-refresh-transport.spec.ts
  src/oura-refresh-transport.ts
Labels: source

:construction: Add unwired Oura refresh transport contract (#483)
  src/oura-refresh-transport.spec.ts
  src/oura-refresh-transport.ts
Labels: source

:construction: Define unwired Oura owner authorization contract
  src/oura-authorization.spec.ts
  src/oura-authorization.ts
Labels: source

:construction: Define unwired Oura owner authorization contract (#484)
  src/oura-authorization.spec.ts
  src/oura-authorization.ts
Labels: source

:construction: Add unwired Oura authorization-code exchange contract
  src/oura-authorization.spec.ts
  src/oura-authorization.ts
  src/oura-code-exchange.spec.ts
  src/oura-code-exchange.ts
  src/oura-credential-broker.ts
Labels: source

:construction: Add unwired Oura authorization-code exchange contract (#485)
  src/oura-authorization.spec.ts
  src/oura-authorization.ts
  src/oura-code-exchange.spec.ts
  src/oura-code-exchange.ts
  src/oura-credential-broker.ts
Labels: source

:bug: Recheck Oura token expiry after lease waits
  src/oura-credential-broker.spec.ts
  src/oura-credential-broker.ts
Labels: source

:bug: Recheck Oura token expiry after lease waits (#486)
  src/oura-credential-broker.spec.ts
  src/oura-credential-broker.ts
Labels: source

:bookmark: Release v2.4.3 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Labels: config

Notes added by 'git notes add'
  0be24831517731ca3e9b54415d99db94a57638df
Labels: config

.github/labeler.yml:

config:
  - ./*
tooling:
  - tooling/**/*.*
assets:
  - static/**/*.*
tests:
  - any: ["src/**/*.spec.js", "src/**/*.spec.ts", "cypress/**/*"]
package:
  - any: ["package.json", "package-lock.json"]
source:
  - src/**/*

google-fit:
  - src/google-fit/**/*.*
oura-ring:
  - src/oura-ring/**/*.*
rescuetime:
  - src/rescuetime/**/*.*
spotify:
  - src/spotify/**/*.*
wakatime:
  - src/wakatime/**/*.*
last-fm:
  - src/last-fm/**/*.*
pocket-casts:
  - src/pocket-casts/**/*.*
clockify:
  - src/clockify/**/*.*
