Repository stethoscope-js/integrations, changes with the labels that .github/labeler.yml gives for each.
All labels: config, tooling, assets, tests, package, source, google-fit, oura-ring, rescuetime, spotify, wakatime, last-fm, pocket-casts, clockify

.github/labeler.yml:

config:
  - ./*
tooling:
  - tooling/**/*.*
assets:
  - static/**/*.*
tests:
  - any: ["src/**/*.spec.js", "src/**/*.spec.ts", "cypress/**/*"]
package:
  - any: ["package.json", "package-lock.json"]
source:
  - src/**/*

google-fit:
  - src/google-fit/**/*.*
oura-ring:
  - src/oura-ring/**/*.*
rescuetime:
  - src/rescuetime/**/*.*
spotify:
  - src/spotify/**/*.*
wakatime:
  - src/wakatime/**/*.*
last-fm:
  - src/last-fm/**/*.*
pocket-casts:
  - src/pocket-casts/**/*.*
clockify:
  - src/clockify/**/*.*

:construction_worker: Add auto merge CI
  .github/workflows/automerge.yml
Labels: none

:construction_worker: Add feature branch PR
  .github/workflows/feature-pr.yml
Labels: none

:construction_worker: Add PR labeler CI
  .github/workflows/labeler.yml
Labels: none

:construction_worker: Add Node CI
  .github/workflows/node.yml
Labels: none

:pencil: Add basic summary README
  README.md
Labels: config

:truck: Move API packages to integrations repo
  src/api/clockify.ts
  src/api/goodreads.ts
  src/api/google-fit.ts
  src/api/last-fm.ts
  src/api/oura-ring.ts
  src/api/pocket-casts.ts
  src/api/rescuetime.ts
  src/api/spotify.ts
  src/api/wakatime.ts
  src/common.ts
  src/types/goodreads.d.ts
  src/types/pocket-casts.d.ts
  src/types/wakatime.d.ts
Labels: source

:heavy_plus_sign: Add all API dependencies
  package-lock.json
  package.json
Labels: config

:sparkles: Export all functions
  src/index.ts
Labels: source

:poop: Add fake tests for CI
  src/index.spec.ts
Labels: source

:wrench: Change out dir to dist
  tsconfig.json
Labels: config

:wrench: Add files, main, types
  package.json
Labels: config

:construction_worker: Add Publish CI
  .github/workflows/package.yml
Labels: none

:wrench: Rename @stethoscope to @stethoscope-js
  package-lock.json
  package.json
Labels: config

:green_heart: Change describe to test
  src/index.spec.ts
Labels: source

:bookmark: Release v1.0.0 [skip ci]
  CHANGELOG.md
Labels: config

Notes added by 'git notes add'
  06f974cafa93ec2cbde69ed5b57238fd6337e4b3
Labels: config

:wrench: Add update package script
  tooling/update-package.ts
Labels: tooling

:construction_worker: Update package.json before publishing
  .github/workflows/package.yml
Labels: none

:bug: Trigger new package release
  src/index.spec.ts
Labels: source

:bookmark: Release v1.0.1 [skip ci]
  CHANGELOG.md
Labels: config

Notes added by 'git notes add'
  b94be1fd5cd28de9570b6b89d6574335374deb1b
Labels: config

:bug: Fix path to package update
  .github/workflows/package.yml
Labels: none

:bookmark: Release v1.0.2 [skip ci]
  CHANGELOG.md
Labels: config

Notes added by 'git notes add'
  8cd9b67f05bee3a16d1a7a96e8052a06ae79463c
Labels: config

:truck: Move package.yml to node.yml
  .github/workflows/node.yml
  .github/workflows/package.yml
Labels: none

:sparkles: Emit metadata, source maps
  tsconfig.json
Labels: config

:bookmark: Release v1.1.0 [skip ci]
  CHANGELOG.md
Labels: config

Notes added by 'git notes add'
  1429943ebfb28bbf51d079be95a9c5b3e56d3f92
Labels: config

:bug: Remove publishing to GitHub Packages
  .github/workflows/node.yml
Labels: none

:bookmark: Release v1.1.1 [skip ci]
  CHANGELOG.md
Labels: config

Notes added by 'git notes add'
  8d503e3458b8f3268e83939830109ddbf5cc3f98
Labels: config

:pushpin: Pin @types as dependency
  package-lock.json
  package.json
Labels: config

:bug: Release new path version
  package.json
Labels: config

:bookmark: Release v1.1.2 [skip ci]
  CHANGELOG.md
Labels: config

Notes added by 'git notes add'
  1e1f067a42a48d4157a829f008926bb217454ac5
Labels: config

:recycle: Change ?? to ||
  src/api/clockify.ts
  src/api/goodreads.ts
  src/api/google-fit.ts
  src/api/last-fm.ts
  src/api/oura-ring.ts
  src/api/pocket-casts.ts
  src/api/rescuetime.ts
  src/api/spotify.ts
  src/api/wakatime.ts
Labels: source

:bookmark: Release v1.1.3 [skip ci]
  CHANGELOG.md
Labels: config

Notes added by 'git notes add'
  ea57abd90dd602c7f1eebc98ee6ab3264a2726e8
Labels: config

:recycle: Change ?. to &&
  src/api/google-fit.ts
  src/api/last-fm.ts
  src/api/rescuetime.ts
Labels: source

:bookmark: Release v1.1.4 [skip ci]
  CHANGELOG.md
Labels: config
